extends layout

block layout-content

  html
    head
           
    body()

      div( class="swipe-container")
        div( class="container text-center formBackground" style="width:90%;")  

          h2 Admin View
          
      script(src="/static/adminView.js")
